* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colorLetras: rgb(252, 245, 239);

body {
    min-height: 100vh;
}

html {
    color-scheme: dark light;
}

body {
    background-color: rgb(109, 181, 202);
    color: $colorLetras;
}

.header {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}

.nav {
    background-color: rgb(184, 216, 224);
    margin: 1rem, 1rem;
    padding: 1rem;
    border: 1rem;
    border-style: solid;
    border-color: rgb(255, 114, 53);
    display: flex;    
    flex-wrap: nowrap;
    justify-content: space-around;

    .menuPrincipal {
        list-style-type: none;
        padding: 1rem;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        width: 100%;  
        justify-content: space-around;

        li {
            padding: 1rem;
            justify-content: center;            
            font-size: 1.5rem;
        }

        a {
            text-decoration: none;
            color: $colorLetras;
            font-weight: bold;            
            &:hover {
                background-color: rgb(184, 216, 224);
                color: rgb(255, 114, 53);
            }
        }

    }
}

.textoHome {
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    a {
        text-decoration: none;
        color: rgb(255, 114, 53);
        &:hover{
            color: $colorLetras;
        }
    }
}

.containerPrincipal {
    display: flex;
    flex-direction: row;
    .card {
        background-color: rgb(109, 181, 202);
        img {
            height: 40vh;
        }
    }
}

