* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh; }

html {
  color-scheme: dark light; }

body {
  background-color: #6db5ca;
  color: #fcf5ef; }

.header {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .header h1 {
    font-size: 3rem; }
  .header h3 {
    font-size: 1.3rem; }

.nav {
  background-color: #b8d8e0;
  margin: 1rem, 1rem;
  padding: 1rem;
  border: 1rem;
  border-style: solid;
  border-color: #ff7235;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .nav .menuPrincipal {
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around; }
    .nav .menuPrincipal li {
      padding: 1rem;
      justify-content: center;
      font-size: 1.5rem; }
    .nav .menuPrincipal a {
      text-decoration: none;
      color: #fcf5ef;
      font-weight: bold; }
      .nav .menuPrincipal a:hover {
        background-color: #b8d8e0;
        color: #ff7235; }

.textoHome {
  margin: 1rem;
  text-align: center;
  font-size: 3rem; }
  .textoHome a {
    text-decoration: none;
    color: #ff7235; }
    .textoHome a:hover {
      color: #fcf5ef; }

.main {
  display: flex;
  justify-content: center; }
  .main .container {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none; }
    .main .container .lista {
      margin: 1rem; }
      .main .container .lista .imagen {
        margin: 1rem;
        width: 20vw;
        height: 45vh; }
      .main .container .lista .nombre {
        text-transform: uppercase;
        font-size: larger; }
      .main .container .lista .botonAgregar {
        padding: 1rem;
        font-weight: bold; }
        .main .container .lista .botonAgregar:hover {
          background-color: #ff7235; }
      .main .container .lista .containerContador {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .main .container .lista .containerContador .textoContador {
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          color: black; }
        .main .container .lista .containerContador .botonEliminar {
          padding: 1rem;
          font-weight: bold; }
          .main .container .lista .containerContador .botonEliminar:hover {
            background-color: #ff7235; }
        .main .container .lista .containerContador .botonSumar {
          padding: 1rem;
          font-weight: bold; }
          .main .container .lista .containerContador .botonSumar:hover {
            background-color: #ff7235; }

.botonAgregar {
  padding: 1rem;
  font-weight: bold; }
  .botonAgregar:hover {
    background-color: #ff7235; }

.footer {
  margin: 1rem;
  padding: 1rem; }
  .footer .redesSociales {
    margin: 0.3rem;
    width: 5vw; }

.tituloSecundario {
  margin: 1rem;
  padding: 1rem;
  text-align: center; }

.containerCarrusel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem; }
  .containerCarrusel .card {
    width: 30vw;
    height: auto; }
    .containerCarrusel .card img {
      height: 50vh;
      width: auto; }
    .containerCarrusel .card .card-body .card-text {
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold; }
