* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh; }

html {
  color-scheme: dark light; }

body {
  background-color: #6db5ca;
  color: #fcf5ef; }

.header {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .header h1 {
    font-size: 3rem; }
  .header h3 {
    font-size: 1.3rem; }

.nav {
  background-color: #b8d8e0;
  margin: 1rem, 1rem;
  padding: 1rem;
  border: 1rem;
  border-style: solid;
  border-color: #ff7235;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .nav .menuPrincipal {
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around; }
    .nav .menuPrincipal li {
      padding: 1rem;
      justify-content: center;
      font-size: 1.5rem; }
    .nav .menuPrincipal a {
      text-decoration: none;
      color: #fcf5ef;
      font-weight: bold; }
      .nav .menuPrincipal a:hover {
        background-color: #b8d8e0;
        color: #ff7235; }

.containerPrincipal {
  display: flex;
  flex-direction: row; }
  .containerPrincipal .card {
    background-color: #6db5ca; }
    .containerPrincipal .card img {
      height: 40vh; }
